<div ng-controller="headerController" ng-init="init()">
<div class="ajax-loader-bg" style="display:none"></div> 
 <div class="ajax-loader" style="display:none;"></div> 
 <div id="popup-container" style="display:none"> 
 <div class="modal-container">
 <div id="popup-bg" class="modal-bg"></div> 
 <div class="modal-content-wrapper"> 
 <div class="modal-content-cell"> 
 <div id="popup-content" class="modal-content"></div> 
 </div>
 </div>
 </div> 
 </div>
 <!--[if (lt IE 9)&(!IEMobile)]><div class="update-browser"><span>Your browser is not supported, please <a href="https://www.browsehappy.com" target="blank">upgrade your browser</a> to ensure you can use this site</span></div><![endif]--> 
 <header role="banner" class="js-main-header clearfix"> 
 <div class="boxRegistration">
 <b>Woo hoo!</b> - You have now successfully registered with us. Enjoy your shopping
 </div>  
 <nav class="utility-nav clearfix mobile-hidden"> 
 <div class="page"> 
 <a href="#content" title="Skip to content" id="skiplinks" class="visuallyhidden focusable local" tabindex="1"> 
 <span>Skip to main content</span> 
 </a> 
 <ul class="utility-nav-list">  
 <li class="nav-item login-nav-item large-vp">
 <div class="split"> 
 <a href="/my-account/login.jsp?myaccount=true" title="My Account" class="lnk-my-account modal-registration-btn" data-islogged="0"> <span class="ico-s ico-14 ico-account"></span>My account </a> 
 <a href="/my-account/registration.jsp" title="Register" class="lnk-register"> Register </a>  
 </div>
 </li>
 <li class="nav-item rfl-nav-item large-vp "> 
 <a href="/my-account/rflLanding.jsp" title="rewards"> 
 <span class="ico-s ico-20 ico-header-rfl"></span> <span class="rfl-nav-item-label"> rewards for life </span> 
 </a> 
 </li>
 <li class="nav-item favs-nav-item large-vp">  
 <a href="/myFavourites.jsp" title="favourites"> 
 <span class="ico-s ico-favs-menu"></span> Favourites <span class="qty"> 0 </span>
 </a>  
 </li>  
 <li class="nav-item basket-nav-item"> 
 <a class="js-header-basket-link" href="/basket/basket.jsp" data-ajax-url="/modules/ajax/mini-basket.jsp" data-refresh-url="/modules/ajax/basket-masthead.jsp">
 <span class="ico-s ico-basket"></span>
 <h2> Basket </h2>
 <span class="at-basket-menu-qty qty"> 0 </span> 
 items <span class="price"> £0.00 </span> 
 <span class="ico ico-basket-down"></span> 
 </a> 
 </li> 
 <li class="nav-item currency-nav-item large-vp">  
 <span class="small-vp"> Show site in:
</span> 
<form id="changeCurrencyForm" name="changeCurrencyForm" action="/browse/gadgets/currencyExchangeContent.jsp?_DARGS=/browse/gadgets/currencyExchangeContent.jsp" method="post">
<input name="_dyncharset" value="UTF-8" type="hidden"></input>
<input name="_dynSessConf" value="5911380154507072079" type="hidden"></input> 
<div class="split">
  <a href="javascript:void(0);" class="show-gbp current" value="pounds" title="Pound">£</a> 
  <a href="javascript:changeCurrency('EUR');" class="show-eur" value="euros" title="Euro">€</a> 
  </div> 
  <input id="existingCurrencyType" name="existingCurrencyType" value="" type="hidden">
  <input name="_D:existingCurrencyType" value=" " type="hidden">
  <input id="selectedCurrencyType" name="selectedCurrencyType" value="" type="hidden">
  <input name="_D:selectedCurrencyType" value=" " type="hidden">
  <input name="/com/nbty/commerce/common/CurrencyConverterFormHandler.currencyConverterSuccessURL" value="/home.jsp" type="hidden">
  <input name="_D:/com/nbty/commerce/common/CurrencyConverterFormHandler.currencyConverterSuccessURL" value=" " type="hidden">
  <input name="/com/nbty/commerce/common/CurrencyConverterFormHandler.currencyConverterErrorURL" value="/home.jsp" type="hidden">
  <input name="_D:/com/nbty/commerce/common/CurrencyConverterFormHandler.currencyConverterErrorURL" value=" " type="hidden">
  <input name="/com/nbty/commerce/common/CurrencyConverterFormHandler.changeCurrency" value="submit" type="hidden">
  <input name="_D:/com/nbty/commerce/common/CurrencyConverterFormHandler.changeCurrency" value=" " type="hidden">
  <input name="_DARGS" value="/browse/gadgets/currencyExchangeContent.jsp" type="hidden"></input>
  </form>
  </li> 
  </ul>
  </div>
  </nav> 
  <div class="branding clearfix"> 
  <div class="page mobile-navigation-holder"> 
  <div id="mobile-navigation-header-logo-holder" class="desktop-hidden"> 
  <div id="mobile-navigation-header-logo"> 
  <a href="/" title="Holland & Barrett :: the good life" class="mobile" style="background: url(https://images.hollandandbarrettimages.co.uk/promotionuploads_new/hb/atg/ui/global/header/logos/hb-logo-initials.svg) center center no-repeat;background-image: linear-gradient(transparent, transparent), url(https://images.hollandandbarrettimages.co.uk/promotionuploads_new/hb/atg/ui/global/header/logos/hb-logo-initials.svg);background-size: auto 30px;"></a>
  <a href="/" title="Holland & Barrett :: the good life" class="tablet" style="background: url(https://images.hollandandbarrettimages.co.uk/promotionuploads_new/hb/atg/ui/global/header/logos/hb-logo-full.svg) center center no-repeat;background-image: linear-gradient(transparent,transparent),url(https://images.hollandandbarrettimages.co.uk/promotionuploads_new/hb/atg/ui/global/header/logos/hb-logo-full.svg);background-size: contain;"></a>
  </div> 
  </div>
  <a href="/" class="logotype mobile-hidden"> <img src="app/assets/img/main-logo-hb.png" title="Holland & Barrett :: the good life"> </a>                         

 
    <script type="application/ld+json">
    { "@context" : "http://schema.org",
      "@type" : "Organization",
      "legalName" : "Holland and Barrett",
      "url" : "https://www.hollandandbarrett.com",
      "logo": "app/assets/img/main-logo-hb.png",
      "sameAs" : ["https://www.facebook.com/hollandandbarrett",
      "https://twitter.com/holland_barrett",
      "https://plus.google.com/+hollandandbarrett",
      "https://www.youtube.com/user/hollandandbarrettuk",
      "https://www.linkedin.com/company/holland-&-barrett"],
      "contactPoint" : [{
      "@type" : "ContactPoint",
      "telephone" : "+443706066606",
      "contactType" : "customer service"}]
    }
    </script>
  
 

 <ul class="mobile-navigation desktop-hidden"> 
 <li> 
 <div id="mobile-navigation-header-logo-btn" class="open"> 
 <span class="icon-bars"><span></span><span></span><span></span><span></span></span>
 <span class="icon-text">Menu</span>
 </div>
 </li>  
 <li> 
 <a href="/my-account/login.jsp?myaccount=true" title="My Account" class="lnk-my-account modal-registration-btn" data-islogged="0">
 <span class="ico-s ico-25" style="background-image: url(https://images.hollandandbarrettimages.co.uk/promotionuploads_new/hb/atg/ui/global/header/icons/account.svg);"></span> 
 <span class="icon-text">Account</span>
 </a>
 </li> 
 <li class="mobile-navigation-logo-container">  
 <div id="mobile-navigation-header-logo-holder" class="desktop-hidden"> 
 <div id="mobile-navigation-header-logo"> 
 <a href="/" title="Holland & Barrett :: the good life" class="mobile" style="background: url(https://images.hollandandbarrettimages.co.uk/promotionuploads_new/hb/atg/ui/global/header/logos/hb-logo-initials.svg) center center no-repeat;background-image: linear-gradient(transparent, transparent), url(https://images.hollandandbarrettimages.co.uk/promotionuploads_new/hb/atg/ui/global/header/logos/hb-logo-initials.svg);background-size: auto 30px;"></a>
 <a href="/" title="Holland & Barrett :: the good life" class="tablet" style="background: url(https://images.hollandandbarrettimages.co.uk/promotionuploads_new/hb/atg/ui/global/header/logos/hb-logo-full.svg) center center no-repeat;background-image: linear-gradient(transparent,transparent),url(https://images.hollandandbarrettimages.co.uk/promotionuploads_new/hb/atg/ui/global/header/logos/hb-logo-full.svg);background-size: contain;"></a> 
 </div> 
 </div>
 <a href="/" class="logotype mobile-hidden">  <img src="app/assets/img/main-logo-hb.png" title="Holland & Barrett :: the good life"> </a> 
 </li>
 <li>
 <a href="/stores/storeLocator.jsp" title="Store Locator">
 <span class="ico-s ico-25" style="background-image: url(https://images.hollandandbarrettimages.co.uk/promotionuploads_new/hb/atg/ui/global/header/icons/map-pin.svg);"></span> 
 <span class="icon-text">Store</span> 
 </a> 
 </li> 
 <li class="nav-item basket-nav-item">
 <a class="block js-header-basket-link" href="/basket/basket.jsp" data-ajax-url="/modules/ajax/mini-basket.jsp" data-refresh-url="/modules/ajax/basket-masthead.jsp">
 <span class="ico-s ico-25" style="background-image: url(https://images.hollandandbarrettimages.co.uk/promotionuploads_new/hb/atg/ui/global/header/icons/basket.svg);">  </span> 
 <span class="icon-text">Basket</span>
 </a>
 </li>
 </ul>
 <nav class="utility-nav utility-nav-sticky clearfix mobile-hidden"> 
 <ul class="utility-nav-list">  
 <li class="nav-item basket-nav-item"> 
 <a class="js-header-basket-link" href="/basket/basket.jsp" data-ajax-url="/modules/ajax/mini-basket.jsp" data-refresh-url="/modules/ajax/basket-masthead.jsp">
 <span class="ico-s ico-basket"></span>
 <h2> Basket </h2> 
 <span class="at-basket-menu-qty qty"> 0 </span>
 items <span class="price"> £0.00 </span> 
 <span class="ico ico-basket-down"></span>
 </a> 
 </li>  
 <li class="nav-item currency-nav-item large-vp"> 
 <span class="small-vp"> 
 Show site in:
</span> 
<form id="changeCurrencyForm" name="changeCurrencyForm" action="/browse/gadgets/currencyExchangeContent.jsp?_DARGS=/browse/gadgets/currencyExchangeContent.jsp" method="post">
<input name="_dyncharset" value="UTF-8" type="hidden"></input>
<input name="_dynSessConf" value="5911380154507072079" type="hidden"></input> 
<div class="split"> 
 <a href="javascript:void(0);" class="show-gbp current" value="pounds" title="Pound">£</a> 
 <a href="javascript:changeCurrency('EUR');" class="show-eur" value="euros" title="Euro">€</a>
 </div>
 <input id="existingCurrencyType" name="existingCurrencyType" value="" type="hidden">
 <input name="_D:existingCurrencyType" value=" " type="hidden">
 <input id="selectedCurrencyType" name="selectedCurrencyType" value="" type="hidden">
 <input name="_D:selectedCurrencyType" value=" " type="hidden">
 <input name="/com/nbty/commerce/common/CurrencyConverterFormHandler.currencyConverterSuccessURL" value="/home.jsp" type="hidden">
 <input name="_D:/com/nbty/commerce/common/CurrencyConverterFormHandler.currencyConverterSuccessURL" value=" " type="hidden">
 <input name="/com/nbty/commerce/common/CurrencyConverterFormHandler.currencyConverterErrorURL" value="/home.jsp" type="hidden">
 <input name="_D:/com/nbty/commerce/common/CurrencyConverterFormHandler.currencyConverterErrorURL" value=" " type="hidden">
 <input name="/com/nbty/commerce/common/CurrencyConverterFormHandler.changeCurrency" value="submit" type="hidden">
 <input name="_D:/com/nbty/commerce/common/CurrencyConverterFormHandler.changeCurrency" value=" " type="hidden">
 <input name="_DARGS" value="/browse/gadgets/currencyExchangeContent.jsp" type="hidden"></input>
 </form>
 </li> 
 </ul>
 </nav>
 <div class="desktop-hidden usp-block">
 <p>
	Free Standard delivery on orders over &pound;20
	</p>
	</div> 
	<span class=" global-search">
	<form onsubmit="return searchFieldValidate()" action="/search" method="GET" class="site-search-form">  
	<div class="search-form" role="search" id="site-search" data-json-submit-uri="/common/typeAhead.jsp" data-search-for-label="Search for">  
	<div class="flex">
	<label class="text" title="Search"> 
	<span class="visuallyhidden">Search</span>
	<input type="search" name="query" id="sitesearch" maxlength="128" placeholder="Search"/> 
	<input type="hidden" name="isSearch" id="isSearch" value="true"/> 
	<button type="submit" class="orangeSubmit" title="search button">
	<span class="ico-s ico-25 ico-search"></span>
	</button> 
	</label> 
	<div class="paGoBtnhide">
	</div>  
	<div class="voice-search-activate-btn ico-s ico-mic js-voice-search-activate hidden" data-locale="en" data-error-message="Couldn't understand, please try again"></div>
	</div> </div> 
	</form>
	</span>
	<div class="additional-info-wrapper mobile-hidden">                         
    <span class="nav-item phone-nav-item">  
	<span class="ico-s ico-phone" style="background-image: url(https://www.hollandandbarrett.com/ui/css/img/icons/phone_icon.svg);"></span> 
	<a class="phone-link" title="Customer Support Number" href="tel:0370 606 6606"> 0370 606 6606 </a> 
	</span> 
 <span class="nav-item locator-nav-item">  
 <span class="ico-s ico-location-pin"></span>
 <a href="/stores/storeLocator.jsp" title="Store Locator" data-string-largevp="Store locator">
 <span class="icon-text">Store locator</span>
 </a>
 </span>
 </div> 
 </div> 
 </div> 
 <nav class="main-nav replete-nav" aria-label="Main menu" role="navigation">
 <div class="page">
 <div ng-controller="headerController" ng-init="init()">
	<ul role="menubar"> 
		<li class="main-nav-item" ng-class="{'hover':hovering}" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false"role="menuitem" aria-haspopup="true" data-all-text="All" ng-repeat="(key, value) in menuTree"> 
			<a ui-sref="productlist({categoryId:'{{value.id}}'})" ng-click="setCategory(value.id)"> {{value.name.en}} </a> 
			<input type="hidden" id="{{value.externalId}}" class="urlRef" value="/food-drink/"/> 
			<input type="hidden" class="dataId" value="fly{{value.externalId}}"/>
			<div id="fly{{value.externalId}}">
				<div class="flyout-container" ng-show="!isObjectEmpty(value.children)"> <div class="flyout-nav f-row" > 
					<div class="f-col f-col-1 flyout-nav-column" ng-repeat="(firstChildKey, firstChildValue) in value.children">  
						<div class="flyout-nav-block" >  
							<h2 class="mobile-nav-item loaded"> 
								<a ui-sref="productlist({categoryId:'{{firstChildValue.id}}'})" title="{{firstChildValue.name.en}}" ng-click="setCategory(firstChildValue.id)"> {{firstChildValue.name.en}} <span class="desktop-hidden ico-c ico-chevron ico-chevron-right"></span> </a> 
							</h2>  
							<ul class="link-list" role="menu" data-level="3"> 
								<li>
									<a class="mobile-nav-item-back" href="#"><span class="desktop-hidden ico-c ico-chevron ico-chevron-left"></span>{{firstChildValue.name.en}}</a>
								</li> 
								<li role="menuitem" class="desktop-hidden"> 
									<a href="/shop/vitamins-supplements/vitamins/" title="Vitamins"> {{firstChildValue.name.en}} </a> 
								</li>  
								<li role="menuitem" ng-repeat="(secondChildKey, secondChildValue) in firstChildValue.children">  
									<a ui-sref="productlist({categoryId:'{{secondChildValue.id}}'})" title="{{secondChildValue.name.en}}" ng-click="setCategory(secondChildValue.id)"> {{secondChildValue.name.en}} </a> 
								</li>
							</ul>
						</div>    
						<div class="f-col f-col-1 flyout-nav-column ">    </div>  
					</div> 
					<div class="f-row"><div class="f-col f-col-1"></div><div class="f-col f-col-1"></div><div class="f-col f-col-1"></div><div class="f-col f-col-1"></div><div class="f-col f-col-1"></div><div class="f-col f-col-1"></div></div>  <div class="flyout-nav-images f-row"> <div class="f-col f-col-6">  <a href="/shop/vitamins-supplements/vitamins-supplements-shop-all/?t=skupromo_big-deals-better-than-half-price&amp;icmp=Global_HPR_1_P13_1_big_deals_ie" class="flyout-brand" style="background-image: url('https://images.hollandandbarrettimages.co.uk/promotionuploads_new/hb/atg/p_1718/p13/globals/p13_globals_big_deals_desktop_update.png')"></a>  </div> </div>  </div> 
			</div>  
		</li>
	</ul>
</div>
<style>
@media screen and (min-width: 767px) {
.main-nav [role=menubar] {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}
.main-nav [role=menubar]:before {
display: none;
}
.simple-nav-item.last-nav-item {
position: static !important;
}
#fly666 .flyout-container {
  display: none; 
  padding: 24px;
}
#fly666 .flyout-container .f-row .flyout-nav-column h3, #fly666 .flyout-container .f-row .flyout-nav-column p {
  text-align: center;
}
#fly666 .flyout-container .f-row .flyout-nav-column p {
  font-weight: normal;
  font-size: 16px;
}
#fly666 .flyout-container .f-row .flyout-nav-column  img {
  margin: 0 auto;
}
    
.last-nav-item:hover > #fly666 .flyout-container {
    display: block;
}
.last-nav-item:hover > a,  
.ss-new-badge:hover ~ a, #fly666:hover  + .ss-flyout-bg + a   {
background: #fff;
color: #006341;
}
.last-nav-item:hover .ss-flyout-bg,  
.ss-new-badge:hover + #fly666 + .ss-flyout-bg, #fly666:hover  + .ss-flyout-bg  {
opacity: 0.6;
height: 3000px;
}
.last-nav-item .ss-flyout-bg:hover {
display: none;
}
.ss-flyout-bg {
opacity: 0;
position: fixed;
width: 100%;
height: 0px;
background-color: #333;
z-index: -1;
left: 0;
transition: opacity 0.5s;
-webkit-transition: opacity 0.5s;
-moz-transition: opacity 0.5s;
-o-transition: opacity 0.5s;
}
.ss-buttons {
justify-content: center;
}
.ss-buttons .healthbox-intro-buttons-container a:last-child {
  background-color: #006341;
  background: #006341;
  border: 1px solid #006341;
}
.ss-buttons .healthbox-intro-buttons-container a:last-child:hover {
  background-color: #004a30;
  background: #004a30;
  border: 1px solid #004a30;
}
.ss-buttons .healthbox-intro-buttons-container {
  width: auto;
}
}
@media screen and (max-width: 1075px) and (min-width: 768px) {
.main-nav.replete-nav .main-nav-item>a {
font-size: 1.2rem;
}
}
</style>
  </div>
 </nav> 
 <div class="desktop-hidden mobile-hidden js-mobile-navigation-menu-item"> 
 <li class="desktop-hidden account-nav-item" role="menuitem"> 
 <a href="/my-account/login.jsp?myaccount=true" title="My Account" class="common-nav-item"> 
 <i class="ico-s ico-14 ico-user"></i>
 <span class="icon-text">Account</span>
 </a>  
 </li>
 </div>  
 </header> 

  

 
 
 
 
 
 
 
 
 
 
 
 
 
 
<!-- end common/header.hbs -->
	
</div>
