<!-- Desktop View -->
<div class="container col-md-12 hidden-xs" data-init-module='mainCarouselModule' data-init-main-carousel-params='{"breakpoint220":{"initCarousel":true},"breakpoint768":{"initCarousel":true,"quantity":"6"}}'> 
<ul class="l-wrap clearfix"> 
<li class="l-col l-one-fourth advice-and-articles-item">  
<a href="/the-health-hub/beauty/clean-beauty/?icmp=HUB_HSL_1_cleanbeauty"> 
 <div class="advice-item-image-container">
 <picture>
	<source srcset="app/assets/img/cleaner_beauty_cleansing.png" media="(min-width: 1200px)">
	<source srcset="app/assets/img/cleaner_beauty_cleansing.png" media="(min-width: 768px)">
	<img src="app/assets/img/cleaner_beauty_cleansing" class="img-responsive">
  </picture>
 <!--<img srcset="app/assets/img/cleaner_beauty_cleansing.png" class="lazyload"/>-->
 </div>
 <div class="advice-item-text-container"> <h2>Cleaner Beauty</h2> 
 <span>Say yes to cleaner beauty and banish SLS, parabens and micro beads from your beauty regime</span> </div>
</a>  
</li> 
<li class="l-col l-one-fourth advice-and-articles-item"> 
<a href="/the-health-hub/wellbeing/nutrition/recipes/?icmp=HUB_HSL_2_recipes">  
<div class="advice-item-image-container">
<picture>
<source srcset="app/assets/img/2_vegan_burger.png" media="(min-width: 1200px)">
<source srcset="app/assets/img/2_vegan_burger.png" media="(min-width: 768px)">
<img src="app/assets/img/2_vegan_burger" class="img-responsive">
</picture>

<!-- <img data-src="app/assets/img/2_vegan_burger.png" class="lazyload"/>-->
</div> <div class="advice-item-text-container"> 
<h2>Recipes</h2> <span>Keep your meals healthy but delicious with our selection of nutritious recipes</span> </div>  </a> 
</li>  
<li class="l-col l-one-fourth advice-and-articles-item">  
<a href="/the-health-hub/wellbeing/vitamins-and-supplements/?icmp=HUB_HSL_3_vits"> 
 <div class="advice-item-image-container">
 <picture>
	<source srcset="app/assets/img/3_vits.png" media="(min-width: 1200px)">
	<source srcset="app/assets/img/3_vits.png" media="(min-width: 768px)">
	<img src="app/assets/img/3_vits" class="img-responsive">
</picture>
  </div> <div class="advice-item-text-container"> <h2>Vitamins & Supplements</h2>
 <span>From vitamin A to Zinc, there's a supplement out there to support every part of the body.</span> 
 </div> 
</a>  
</li>  

<li class="l-col l-one-fourth advice-and-articles-item"> 

<a href="/the-health-hub/condition/menopause/?icmp=HUB_HSL_4_menopause"> 
 <div class="advice-item-image-container"> 
  <picture>
	<source srcset="app/assets/img/4_menopause.png" media="(min-width: 1200px)">
	<source srcset="app/assets/img/4_menopause.png" media="(min-width: 768px)">
	<img src="app/assets/img/4_menopause" class="img-responsive">
</picture>

 </div> 
 <div class="advice-item-text-container"> <h2>Menopause Relief</h2> 
 <span>Relieve mood swings, hot flushes and night sweats with natural remedies.</span> </div>  
</a>  
</li> 
</ul>

</div> 


<!-- Mobile View -->
<div id="myCarousel" class="carousel slide hidden-sm hidden-md hidden-lg col-xs-12" data-ride="carousel"> 



  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>
  
    <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"> 
		<ul class="l-wrap clearfix"> 
			<li class="l-col active">  
<a href="/the-health-hub/beauty/clean-beauty/?icmp=HUB_HSL_1_cleanbeauty"> 
    <div class="advice-item-image-container">
		<picture>
	<source srcset="app/assets/img/cleaner_beauty_cleansing.png" media="(min-width: 1200px)" />
	<source srcset="app/assets/img/cleaner_beauty_cleansing.png" media="(min-width: 100px)" />
	<img src="app/assets/img/cleaner_beauty_cleansing" class="img-responsive" />
  </picture>
	</div>
	<div class="advice-item-text-container"> <h2>Cleaner Beauty</h2> 
 <span>Say yes to cleaner beauty and banish SLS, parabens and micro beads from your beauty regime</span> </div>
	</a>
	</li>
		</ul>
	</div>
    <div class="item">
	<ul class="l-wrap clearfix">
		<li class="l-col "> 
<a href="/the-health-hub/wellbeing/nutrition/recipes/?icmp=HUB_HSL_2_recipes">  
<div class="advice-item-image-container">
<picture>
<source srcset="app/assets/img/2_vegan_burger.png" media="(min-width: 1200px)">
<source srcset="app/assets/img/2_vegan_burger.png" media="(min-width: 100px)">
<img src="app/assets/img/2_vegan_burger" class="img-responsive">
</picture>


</div> <div class="advice-item-text-container"> 
<h2>Recipes</h2> <span>Keep your meals healthy but delicious with our selection of nutritious recipes</span> </div>  </a> 
</li>  
	</ul>
	
	</div>
    <div class="item">
	<ul class="l-wrap clearfix">
		<li class="l-col "> 
		<a href="/the-health-hub/wellbeing/vitamins-and-supplements/?icmp=HUB_HSL_3_vits"> 
 <div class="advice-item-image-container">
 <picture>
	<source srcset="app/assets/img/3_vits.png" media="(min-width: 1200px)">
	<source srcset="app/assets/img/3_vits.png" media="(min-width: 50px)">
	<img src="app/assets/img/3_vits" class="img-responsive">
</picture>
  </div> <div class="advice-item-text-container"> <h2>Vitamins & Supplements</h2>
 <span>From vitamin A to Zinc, there's a supplement out there to support every part of the body.</span> 
 </div> 
</a>  
		</li>
	</ul>
	
	
	</div>
  </div>
  
  <!--  <ul class="l-wrap clearfix"> 
 Wrapper for slides -->
  <!-- 
  <div class="carousel-inner">
  <div class="item active>
  
<li class="l-col active">  
<a href="/the-health-hub/beauty/clean-beauty/?icmp=HUB_HSL_1_cleanbeauty"> 
    <div class="advice-item-image-container">
		<picture>
	<source srcset="app/assets/img/cleaner_beauty_cleansing.png" media="(min-width: 1200px)" />
	<source srcset="app/assets/img/cleaner_beauty_cleansing.png" media="(min-width: 100px)" />
	<img src="app/assets/img/cleaner_beauty_cleansing" class="img-responsive" />
  </picture>
	</div>
	<div class="advice-item-text-container"> <h2>Cleaner Beauty</h2> 
 <span>Say yes to cleaner beauty and banish SLS, parabens and micro beads from your beauty regime</span> </div>
	</a>
	</li>
	
	</div>
	
	<div class="item">
	<li class="l-col "> 
<a href="/the-health-hub/wellbeing/nutrition/recipes/?icmp=HUB_HSL_2_recipes">  
<div class="advice-item-image-container">
<picture>
<source srcset="app/assets/img/2_vegan_burger.png" media="(min-width: 1200px)">
<source srcset="app/assets/img/2_vegan_burger.png" media="(min-width: 100px)">
<img src="app/assets/img/2_vegan_burger" class="img-responsive">
</picture>


</div> <div class="advice-item-text-container"> 
<h2>Recipes</h2> <span>Keep your meals healthy but delicious with our selection of nutritious recipes</span> </div>  </a> 
</li>  
	</div>
	
	</ul>
  </div>
	
	
	-->
  
<!-- Left and right controls -->
 <!--  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">

    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div> 